.infosessionCard {
    display: inline-block;
    padding: 2em 5em;
    width:33%;
    vertical-align:top;
}

.chip {
  margin: 0.25em;
}

.card .card-image img {
    padding-bottom: 20%;
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
}

.uwLogo{
  width:25%;
  padding-top:0.25em
}

.heading{
  padding-top:0px;
  margin-top:0px;
}

.noInfoSessions{
  color: grey;
  padding-top: 2em;
}
